<html ng-app="app">
<head>
	<title>jsPratiche!</title>
	<style>
	body {
		font: 20px Montserrat, sans-serif;
		line-height: 1.8;
		color: #f5f6f7;
	}
	.bg-4 {
		margin: 30px;
		background-color: #f8f8f8;
		color: #777777;
	}
	.div-border-visible {
		border: 1px solid #aaaaaa;
		padding: 12px;
	}
	.div-border-invisible {
		padding: 12px;
	}
	.div-buttons {
		border-radius: 25px;
		border: 2px solid #73AD21;
		padding: 10px;
		margin: 10px;
	}
	.time-green {
		color: green;
	}
	.time-orange {
		color: orange;
	}
	.time-red {
		color: red;
	}
	.time-danger {
		color: red;
		font-weight: bold;
	}
	</style>

	<script src="public/js/jquery/dist/jquery.min.js"></script>

	<script src="public/js/angular/angular.min.js"></script>
	<script src="public/js/angular-route/angular-route.min.js"></script>
	<script src="public/js/angular-resource/angular-resource.min.js"></script>

	<script src="public/js/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="public/js/bootstrap/dist/css/bootstrap.min.css" />

	<script type="text/javascript" src="public/js/moment/min/moment.min.js"></script>

	<script src="public/js/angular-modal-service/dst/angular-modal-service.min.js"></script>

	<script src="public/js/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<link rel="stylesheet" href="public/js/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

	<script src="public/js/angular-bootstrap-datetimepicker-directive/angular-bootstrap-datetimepicker-directive.min.js"></script>
</head>
<body>

<ng-view></ng-view>

<script type="text/ng-template" id="/main.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class = "container">
	<div class = "jumbotron">
		<h1>Benvenuto</h1>
		<p>Avvisi, istruzioni e modifiche al software</p>

		<p>Modifiche al software:
			<ul>
				<li>Rifatto le integrazioni, ora è UnaRobaFattaBene&trade; Ho azzerato il db. Ora le pratiche sono DA TESTARE!</li>
				<li>Ho tolto i Date-Picker</li>
				<li>Doppio click per modificare la riga di una tabella!!</li>
				<li>Strumenti, Catene, Calibrazioni, RegistroStrumenti</li>
			</ul>
		</p>

		<p>Pratiche:
			<ul>
				<li><u>Da Fare</u>: qui vengono inserite nuove pratiche, vengono prese in carico e segnate "Fatte".</li>
				<li><u>Da Correggere</u>: qui le pratiche "Fatte" vengono (corrette e) segnate "Uscite"</li>
				<li><u>Da Protocollare</u>: qui alle pratiche "Uscite" viene assegnato un protocollo e una data di uscita, e diventano "Archiviate"</li>
			</ul>
		</p>

		<p>Strumenti:
			<ul>
				<li><u>Registro</u>: ogni utente registra quando prende uno strumento e dove&quando lo restituisce</li>
				<li><u>Strumenti, Catene</u>: qui si inseriscono i dati degli strumenti, delle catene e delle calibrazioni</li>
				<li><u>Storico</u>: storico del registro, per ogni strumento si vede (chi,quando,dove) l'ha preso e riposto</li>
			</ul>
		</p>
	</div>
</script>

<script type="text/ng-template" id="/pratiche.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="form-group">
		<div class="span7 text-center">
			<button class="btn btn-primary" ng-click="new()">Nuova Pratica</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
				<th class="text-center"><a ng-click="orderByField='stringGestore'; reverseSort=!reverseSort">Gestore <span ng-show="orderByField=='stringGestore'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringComune'; reverseSort=!reverseSort">Comune <span ng-show="orderByField=='stringComune'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th><a ng-click="orderByField='address'; reverseSort=!reverseSort">Indirizzo <span ng-show="orderByField=='address'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='sitecode'; reverseSort=!reverseSort">CodiceSito <span ng-show="orderByField=='sitecode'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringTipo'; reverseSort=!reverseSort">TipoPratica <span ng-show="orderByField=='stringTipo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='protoIN'; reverseSort=!reverseSort">ProtoIN <span ng-show="orderByField=='protoIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='dateIN'; reverseSort=!reverseSort">DateIN <span ng-show="orderByField=='dateIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringStato'; reverseSort=!reverseSort">Stato <span ng-show="orderByField=='stringStato'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringUser'; reverseSort=!reverseSort">Utente <span ng-show="orderByField=='stringUser'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='scadenza'; reverseSort=!reverseSort">Scadenza <span ng-show="orderByField=='scadenza'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='scadenzaData'; reverseSort=!reverseSort">Scadenza Data<span ng-show="orderByField=='scadenzaData'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in pratiche|orderBy:orderByField:reverseSort" ng-dblclick="show(x.id)" class="{{x.rowClass}}">
<!--				<td class="text-center">{{x.id}}</td> -->
				<td class="text-center">{{x.stringGestore}}</td>
				<td class="text-center">{{x.stringComune}}</td>
				<td>{{x.address}}</td>
				<td class="text-center">{{x.sitecode}}</td>
				<td class="text-center">{{x.stringTipo}}</td>
				<td class="text-center">{{x.protoIN}}</td>
				<td class="text-center">{{x.dateIN}}</td>

				<td class="text-center">{{x.stringStato}}</td>
				<td class="text-center">{{x.stringUser}}</td>
				<td class="text-center {{x.scadenzaType}}">{{x.scadenza}}</td>
				<td class="text-center {{x.scadenzaType}}">{{x.scadenzaData}}</td>
			</tr>
		</tbody>
	</table>
</script>


<script type="text/ng-template" id="/pratiche-storico.html">
	<div ng-include="'/public/navbar.html'"></div>
	<table class="table table-hover">
		<thead>
			<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
				<th class="text-center"><a ng-click="orderByField='stringGestore'; reverseSort=!reverseSort">Gestore <span ng-show="orderByField=='stringGestore'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringComune'; reverseSort=!reverseSort">Comune <span ng-show="orderByField=='stringComune'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th><a ng-click="orderByField='address'; reverseSort=!reverseSort">Indirizzo <span ng-show="orderByField=='address'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='sitecode'; reverseSort=!reverseSort">CodiceSito <span ng-show="orderByField=='sitecode'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringTipo'; reverseSort=!reverseSort">TipoPratica <span ng-show="orderByField=='stringTipo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='protoIN'; reverseSort=!reverseSort">ProtoIN <span ng-show="orderByField=='protoIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='dateIN'; reverseSort=!reverseSort">DateIN <span ng-show="orderByField=='dateIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringStato'; reverseSort=!reverseSort">Stato <span ng-show="orderByField=='stringStato'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringUser'; reverseSort=!reverseSort">Utente <span ng-show="orderByField=='stringUser'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='protoOUT'; reverseSort=!reverseSort">ProtoOUT <span ng-show="orderByField=='protoOUT'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='dateOUT'; reverseSort=!reverseSort">dateOUT <span ng-show="orderByField=='dateOUT'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in pratiche|orderBy:orderByField:reverseSort" ng-dblclick="show(x.id)"class="{{x.rowClass}}" >
<!--				<td class="text-center">{{x.id}}</td> -->
				<td class="text-center">{{x.stringGestore}}</td>
				<td class="text-center">{{x.stringComune}}</td>
				<td>{{x.address}}</td>
				<td class="text-center">{{x.sitecode}}</td>
				<td class="text-center">{{x.stringTipo}}</td>
				<td class="text-center">{{x.protoIN}}</td>
				<td class="text-center">{{x.dateIN}}</td>

				<td class="text-center">{{x.stringStato}}</td>
				<td class="text-center">{{x.stringUser}}</td>
				<td class="text-center">{{x.protoOUT}}</td>
				<td class="text-center">{{x.dateOUT}}</td>
			</tr>
		</tbody>
	</table>
</script>

<script type="text/ng-template" id="/praticaDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="gestore">Gestore:</label>
				<div class="col-sm-10">
					<select data-ng-options="g.id as g.name for g in gestori" data-ng-model="epratica.idGestore"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="comune">Comune:</label>
				<div class="col-sm-10">
					<select data-ng-options="g.id as g.name for g in comuni" data-ng-model="epratica.idComune"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="address">Indirizzo:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="address" ng-model="epratica.address" placeholder="Indirizzo">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sitecode">Codice Sito:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sitecode" ng-model="epratica.sitecode" placeholder="Codice Sito">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="tipopratica">Tipo Pratica:</label>
				<div class="col-sm-10">
					<select data-ng-options="g.id as g.descrizione for g in consttipipratiche" data-ng-model="epratica.tipopratica"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="protoIN">Proto IN:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="protoIN" ng-model="epratica.protoIN" placeholder="Proto IN">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateIN">Data IN:</label>
				<div class="col-sm-10">
					<input class="form-control" datetimepicker type="text" ng-model="epratica.dateIN" placeholder="YYYY-MM-DD">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="protoOUT">Proto OUT:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="protoIN" ng-model="epratica.protoOUT" placeholder="Proto OUT" ng-disabled="true">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateOUT">Data OUT:</label>
				<div class="col-sm-10">
					<input class="form-control" datetimepicker type="text" ng-model="epratica.dateOUT" placeholder="YYYY-MM-DD" ng-disabled="true">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="note">Note:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="note" ng-model="epratica.note" placeholder="Note">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right"><button type="submit" class="btn btn-danger" ng-show="!isnew" ng-click="remove()">Remove</button></div>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/praticaStatoDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<div class="row">
			<span class="col-md-10">
				<h2>{{ title }}</h2>
			</span>
			<button class="col-md-2 btn btn-danger" ng-click="stato(1)" ng-show="epratica.idStato && epratica.idStato != 1"
			style="top: 20px;" >Rilascia</button>
		</div>
		<hr>
		<div class="row">
		
			<span class="col-md-4">
				<div ng-show="epratica.idStato == null || epratica.idStato == 1">
					<select class="col-md-6" data-ng-options="g.id as g.name for g in utenti" data-ng-model="selectedUser" style="top: 8px;"></select>
					<button class="col-md-6 btn btn-primary" ng-click="stato(2, selectedUser)">Prendi in carico</button>
				</div>
				<div ng-show="epratica.idStato == 4">
					<select class="col-md-6" data-ng-options="g.id as g.name for g in utenti" data-ng-model="selectedUser" style="top: 8px;"></select>
					<button class="col-md-6 btn btn-primary" ng-click="stato(6, selectedUser)">Corretto</button>
				</div>
				<div class="div-border-invisible" ng-show="epratica.idStato == 2">
					<button class="btn btn-primary" ng-click="stato(3)">Mancano misure</button>
				</div>
			</span>

			<span class="col-md-4">
				<div ng-show="epratica.idStato == 2 || epratica.idStato == 3">
					<input class="col-md-4" type="text" ng-model="integProto" placeholder="Protocollo" style="top: 4px;">
					<input class="col-md-4" type="text" datetimepicker ng-model="integDate" placeholder="Data" style="top: 4px;">
					<button class="col-md-4 btn btn-warning" ng-click="integric()">Richiedi integ</button>
				</div>
				<div ng-show="epratica.idStato == 7">
					<input class="col-md-4" type="text" ng-model="integProto" placeholder="Protocollo" style="top: 4px;">
					<input class="col-md-4" type="text" datetimepicker ng-model="integDate" placeholder="Data" style="top: 4px;">
					<button class="col-md-4 btn btn-warning" ng-click="integarr()">Arrivate integ</button>
				</div>
			</span>

			<span class="col-md-2"><div class="spacer"></div></span>
			
			<button class="col-md-2 btn btn-success" ng-click="stato(4)" style="top: 12px;" ng-show="epratica.idStato == 2 || epratica.idStato == 3">Fatto</button>
		</div>
		<hr>
			<table class="table table-hover">
				<thead>
					<tr>
<!--						<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
						<th class="text-center"><a ng-click="orderByField='descStato'; reverseSort=!reverseSort">Stato <span ng-show="orderByField=='descStato'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
						<th class="text-center"><a ng-click="orderByField='timePoint'; reverseSort=!reverseSort">Modifica <span ng-show="orderByField=='timePoint'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in history|orderBy:orderByField:reverseSort" ng-dblclick="showinteg(x.integID)">
<!--						<td class="text-center">{{x.id}}</td>  -->
						<td class="text-center">{{x.descStato}}</td>
						<td class="text-center">{{x.timePoint}}</td>
					</tr>
				</tbody>
			</table>

		<div>
			<button class="btn btn-default" ng-click="cancel()">Indietro</button>
			<div class="pull-right">
				<button class="btn btn-default" ng-click="show()">Modifica</button>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/anagrafiche.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="form-group">
		<div class="span7 text-center">
			<button class="btn btn-primary" ng-click="new()">Nuovo Gestore</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='name'; reverseSort=!reverseSort">Name <span ng-show="orderByField=='name'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='pec'; reverseSort=!reverseSort">PEC <span ng-show="orderByField=='pec'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in anagrafiche|orderBy:orderByField:reverseSort" ng-dblclick="show(x.id)">
				<td class="text-center">{{x.id}}</td>
				<td class="text-center">{{x.name}}</td>
				<td class="text-center">{{x.pec}}</td>
			</tr>
		</tbody>
	</table>
</script>

<script type="text/ng-template" id="/gestoreDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" ng-model="egestore.name" placeholder="Nome gestore">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pec">Pec:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="pec" ng-model="egestore.pec" placeholder="PEC gestore">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right"><button type="submit" class="btn btn-danger" ng-show="!isnew" ng-click="remove()">Remove</button></div>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/integrazione.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="protoOUT">Proto OUT:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="protoOUT" ng-model="eintegrazione.protoOUT" placeholder="Proto OUT">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateOUT">Data OUT:</label>
				<div class="col-sm-10">
					<input class="form-control" datetimepicker type="text" ng-model="eintegrazione.dateOUT" placeholder="YYYY-MM-DD">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="protoIN">Proto IN:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="protoIN" ng-model="eintegrazione.protoIN" placeholder="Proto IN">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateIN">Data IN:</label>
				<div class="col-sm-10">
					<input class="form-control" datetimepicker type="text" ng-model="eintegrazione.dateIN" placeholder="YYYY-MM-DD">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="note">Note:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="note" ng-model="eintegrazione.note" placeholder="Note">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/comuneDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" ng-model="ecomune.name" placeholder="Nome comune">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pec">Pec:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="pec" ng-model="ecomune.pec" placeholder="PEC comune">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right"><button type="submit" class="btn btn-danger" ng-show="!isnew" ng-click="remove()">Remove</button></div>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/utenti.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="form-group">
		<div class="span7 text-center">
			<button class="btn btn-primary" ng-click="new()">Nuovo Utente</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
				<th class="text-center"><a ng-click="orderByField='username'; reverseSort=!reverseSort">Username <span ng-show="orderByField=='username'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='name'; reverseSort=!reverseSort">Name <span ng-show="orderByField=='name'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='surname'; reverseSort=!reverseSort">Surname <span ng-show="orderByField=='surname'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='email'; reverseSort=!reverseSort">Email <span ng-show="orderByField=='email'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='phone'; reverseSort=!reverseSort">Phone <span ng-show="orderByField=='phone'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='lastlogin'; reverseSort=!reverseSort">Last Login <span ng-show="orderByField=='lastlogin'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='userlevel'; reverseSort=!reverseSort">UserLevel <span ng-show="orderByField=='userlevel'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="utente in utenti|orderBy:orderByField:reverseSort" ng-dblclick="show(utente.id)">
<!--				<td class="text-center">{{utente.id}}</td> -->
				<td class="text-center">{{utente.username}}</td>
				<td class="text-center">{{utente.name}}</td>
				<td class="text-center">{{utente.surname}}</td>
				<td class="text-center">{{utente.email}}</td>
				<td class="text-center">{{utente.phone}}</td>
				<td class="text-center">{{utente.lastlogin}}</td>
				<td class="text-center">{{utente.userlevel}}</td>
			</tr>
		</tbody>
	</table>
</script>

<script type="text/ng-template" id="/utenteDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2">Username:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="eutente.username" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="eutente.name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Surname:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="eutente.surname" placeholder="Surname">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Email:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="eutente.email" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Phone:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="eutente.phone" placeholder="Phone">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Level:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="eutente.userlevel" placeholder="Level">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary" ng-click="changepw()" ng-show="!isnew &&(me.userlevel == 0 || me.id == eutente.id)">Cambia Password</button>
						<button type="submit" class="btn btn-danger" ng-click="remove()" ng-show="!isnew && me.userlevel == 0 && me.id != eutente.id">Remove</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/utentePass.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }} - {{eutente.username}}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2">Vecchia Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" ng-model="eutente.oldpassword">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" ng-model="eutente.password1">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Ripeti Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" ng-model="eutente.password2">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/strumenti.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="form-group">
		<div class="span7 text-center">
			<button class="btn btn-primary" ng-click="new()">Nuovo Strumento</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
				<th class="text-center"><a ng-click="orderByField='name'; reverseSort=!reverseSort">Nome <span ng-show="orderByField=='name'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='marca'; reverseSort=!reverseSort">Marca <span ng-show="orderByField=='marca'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='modello'; reverseSort=!reverseSort">Modello <span ng-show="orderByField=='modello'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='serial'; reverseSort=!reverseSort">Seriale <span ng-show="orderByField=='serial'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='inventario'; reverseSort=!reverseSort">Inventario <span ng-show="orderByField=='inventario'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='tipo'; reverseSort=!reverseSort">Tipo <span ng-show="orderByField=='tipo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='taratura'; reverseSort=!reverseSort">Taratura <span ng-show="orderByField=='taratura'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="strumento in strumenti|orderBy:orderByField:reverseSort" ng-dblclick="show(strumento.id)">
<!--				<td class="text-center">{{strumento.id}}</td> -->
				<td class="text-center">{{strumento.name}}</td>
				<td class="text-center">{{strumento.marca}}</td>
				<td class="text-center">{{strumento.modello}}</td>
				<td class="text-center">{{strumento.serial}}</td>
				<td class="text-center">{{strumento.inventario}}</td>
				<td class="text-center">{{strumento.tipo}}</td>
				<td class="text-center">{{strumento.taratura}}</td>
			</tr>
		</tbody>
	</table>
</script>

<script type="text/ng-template" id="/strumentoDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2">Nome:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.name" placeholder="Nome">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Marca:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.marca" placeholder="Marca">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Modello:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.modello" placeholder="Modello">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Seriale:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.serial" placeholder="Seriale">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Inventario:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.inventario" placeholder="Inventario">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Tipo:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.tipo" placeholder="Tipo">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Taratura:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.taratura" placeholder="Taratura">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Note:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="estrumento.note" placeholder="Note">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right">
						<button type="submit" class="btn btn-danger" ng-click="remove()">Remove</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</script>


<script type="text/ng-template" id="/catene.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="form-group">
		<div class="span7 text-center">
			<button class="btn btn-primary" ng-click="new()">Nuovo Catena</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
				<th class="text-center"><a ng-click="orderByField='name'; reverseSort=!reverseSort">Nome <span ng-show="orderByField=='name'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='note'; reverseSort=!reverseSort">Note <span ng-show="orderByField=='note'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='calib'; reverseSort=!reverseSort">Calibrazione <span ng-show="orderByField=='calib'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='scadenza'; reverseSort=!reverseSort">Scadenza Calibrazione <span ng-show="orderByField=='scadenza'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="catena in catene|orderBy:orderByField:reverseSort" ng-dblclick="show(catena.id)">
<!--				<td class="text-center {{catena.scadenzaType}}">{{catena.id}}</td> -->
				<td class="text-center {{catena.scadenzaType}}">{{catena.name}}</td>
				<td class="text-center {{catena.scadenzaType}}">{{catena.note}}</td>
				<td class="text-center {{catena.scadenzaType}}">{{catena.certn}}</td>
				<td class="text-center {{catena.scadenzaType}}">{{catena.scadenza}}</td>
			</tr>
		</tbody>
	</table>
</script>


<script type="text/ng-template" id="/catenaDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2">Nome:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="ecatena.name" placeholder="Nome">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Note:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="ecatena.note" placeholder="Note">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right">
						<button type="submit" class="btn btn-danger" ng-click="remove()">Remove</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<hr>

	<div class="container" ng-show="!isnew">
		<h3>Strumenti della catena:</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center"><a ng-click="orderByField1='id'; reverseSort1=!reverseSort1">ID <span ng-show="orderByField1=='id'"><span ng-show="!reverseSort1"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort1"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					<th class="text-center"><a ng-click="orderByField1='name'; reverseSort1=!reverseSort1">Nome <span ng-show="orderByField1=='name'"><span ng-show="!reverseSort1"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort1"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					<th class="text-center"><a ng-click="orderByField1='note'; reverseSort1=!reverseSort1">Note <span ng-show="orderByField1=='note'"><span ng-show="!reverseSort1"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort1"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="strumento in strumenticatena|orderBy:orderByField1:reverseSort1" ng-dblclick="remove(strumento.id)">
					<td class="text-center">{{strumento.id}}</td>
					<td class="text-center">{{strumento.name}}</td>
					<td class="text-center">{{strumento.note}}</td>
				</tr>
			</tbody>
		</table>

		<center><button type="submit" class="btn btn-success" ng-click="addstrum=!addstrum">Aggiungi Strumenti</button></center>

		<div ng-show="addstrum">
			<hr>
			<h3>Strumenti Liberi:</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center"><a ng-click="orderByField2='id'; reverseSort2=!reverseSort2">ID <span ng-show="orderByField2=='id'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
						<th class="text-center"><a ng-click="orderByField2='name'; reverseSort2=!reverseSort2">Nome <span ng-show="orderByField2=='name'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
						<th class="text-center"><a ng-click="orderByField2='note'; reverseSort2=!reverseSort2">Note <span ng-show="orderByField2=='note'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="strumento in strumenti|orderBy:orderByField2:reverseSort2" ng-dblclick="add(strumento.id)">
						<td class="text-center">{{strumento.id}}</td>
						<td class="text-center">{{strumento.name}}</td>
						<td class="text-center">{{strumento.note}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr>
		<h3>Calibrazioni:</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center"><a ng-click="orderByField3='lab'; reverseSort3=!reverseSort3">Laboratorio <span ng-show="orderByField3=='lab'"><span ng-show="!reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					<th class="text-center"><a ng-click="orderByField3='certn'; reverseSort3=!reverseSort3">#certificato <span ng-show="orderByField3=='certn'"><span ng-show="!reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					<th class="text-center"><a ng-click="orderByField3='dateCal'; reverseSort3=!reverseSort3">Data Calibrazione <span ng-show="orderByField3=='dateCal'"><span ng-show="!reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					<th class="text-center"><a ng-click="orderByField3='note'; reverseSort3=!reverseSort3">Note <span ng-show="orderByField3=='note'"><span ng-show="!reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
					<th class="text-center"><a ng-click="orderByField3='scadenza'; reverseSort3=!reverseSort3">Scadenza <span ng-show="orderByField3=='scadenza'"><span ng-show="!reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort3"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="calibrazione in calibrazioni|orderBy:orderByField3:reverseSort3" ng-dblclick="showcalib(calibrazione.id)">
					<td class="text-center">{{calibrazione.lab}}</td>
					<td class="text-center">{{calibrazione.certn}}</td>
					<td class="text-center">{{calibrazione.dateCal}}</td>
					<td class="text-center">{{calibrazione.note}}</td>
					<td class="text-center">{{calibrazione.scadenza}}</td>
				</tr>
			</tbody>
		</table>
		<center><button type="submit" class="btn btn-success" ng-click="addcalib()">Aggiungi Calibrazione</button></center>
	</div>
</script>

<script type="text/ng-template" id="/calibrazioneDetails.html">
	<div ng-include="'/public/navbar.html'"></div>
	<div class="container">
		<h2>{{ title }}</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="gestore">Catena:</label>
				<div class="col-sm-10">
					<select data-ng-options="g.id as g.name for g in catene" data-ng-model="ecalibrazione.idCatena"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="address">Laboratorio:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="address" ng-model="ecalibrazione.lab" placeholder="Laboratorio">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sitecode">Numero certificato:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sitecode" ng-model="ecalibrazione.certn" placeholder="####">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateIN">Data calibrazione:</label>
				<div class="col-sm-10">
					<input type="text" datetimepicker class="form-control" id="protoIN" ng-model="ecalibrazione.dateCal" placeholder="YYYY-MM-DD">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="note">Note:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="note" ng-model="ecalibrazione.note" placeholder="Note">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateIN">Data Scadenza:</label>
				<div class="col-sm-10">
					<input type="text" datetimepicker class="form-control" id="protoIN" ng-model="ecalibrazione.scadenza" placeholder="YYYY-MM-DD">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-show="!isnew" ng-click="update()">Update</button>
					<button type="submit" class="btn btn-success" ng-show="isnew" ng-click="update()">Create</button>
					<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
					<div class="pull-right"><button type="submit" class="btn btn-danger" ng-show="!isnew" ng-click="remove()">Remove</button></div>
				</div>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/strumentiRegistro.html">
	<div ng-include="'/public/navbar.html'"></div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center"><a ng-click="orderByField='catena'; reverseSort=!reverseSort">Catena <span ng-show="orderByField=='catena'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='username'; reverseSort=!reverseSort">Utente <span ng-show="orderByField=='username'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='timePointFrom'; reverseSort=!reverseSort">Dalle <span ng-show="orderByField=='timePointFrom'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='timePointTo'; reverseSort=!reverseSort">Alle <span ng-show="orderByField=='timePointTo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='sede'; reverseSort=!reverseSort">Sede <span ng-show="orderByField=='sede'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center">Azione</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in registro|orderBy:orderByField:reverseSort">
				<td class="text-center">{{x.catena}}</td>
				<td class="text-center">{{x.username}}</td>
				<td class="text-center">{{x.timePointFrom}}</td>
				<td class="text-center">{{x.timePointTo}}</td>
				<td class="text-center">
				{{x.sede}}
				<select data-ng-options="g.id as g.nome for g in sedi" data-ng-model="x.idSede" ng-show="x.isopen"></select>
				</td>
				<td class="text-center">
					<button type="submit" class="btn btn-success" ng-click="open(x.id)" ng-show="!x.isopen">Open</button>
					<button type="submit" class="btn btn-danger" ng-click="close(x.id, x.idSede)" ng-show="x.isopen">Close</button>
				</td>
			</tr>
		</tbody>
	</table>
</script>

<script type="text/ng-template" id="/strumentiStorico.html">
	<div ng-include="'/public/navbar.html'"></div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center"><a ng-click="orderByField='catena'; reverseSort=!reverseSort">Catena <span ng-show="orderByField=='catena'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='username'; reverseSort=!reverseSort">Utente <span ng-show="orderByField=='username'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='timePointFrom'; reverseSort=!reverseSort">Dalle <span ng-show="orderByField=='timePointFrom'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='timePointTo'; reverseSort=!reverseSort">Alle <span ng-show="orderByField=='timePointTo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='sede'; reverseSort=!reverseSort">Sede <span ng-show="orderByField=='sede'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in registro|orderBy:orderByField:reverseSort">
				<td class="text-center">{{x.catena}}</td>
				<td class="text-center">{{x.username}}</td>
				<td class="text-center">{{x.timePointFrom}}</td>
				<td class="text-center">{{x.timePointTo}}</td>
				<td class="text-center">{{x.sede}}</td>
			</tr>
		</tbody>
	</table>
</script>

<script>
var getTableRowClass = function(id) {

	if (!id|| id == 1)						// arrivata
		return "danger";
	else if (id == 2 || id == 3)			// in carico
		return "active";
	else if (id == 4 || id == 5)			// da correggere
		return "info";
	else if (id == 7)						// attesa integ
		return "warning";
	else if (id==8 || id==9 || id==6 || id==12)		// uscita/parere-condizionato
		return "success";
	else if (id==10 || id==11)				// cancellata/non-si-fa
		return "danger";

	return "";
}

var askconfirm = function(ModalService, next, textmessage) {
	ModalService.showModal({
		templateUrl: "public/confirm.html",
		controller: "YesNoController",
		inputs: {
			message: textmessage
		}
	}).then(function(modal) {
		modal.element.modal();
		modal.close.then(function(result) {
			if (result) {
				next();
			}
		});
	});
}

var app = angular.module('app', ['ngRoute', 'ngResource', 'angularModalService', 'datetimepicker'])
	.factory('Gestori', ['$resource', function($resource){
		return $resource('/gestori/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('Comuni', ['$resource', function($resource){
		return $resource('/comuni/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('Sedi', ['$resource', function($resource){
		return $resource('/pratiche/sedi/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('Utenti', ['$resource', function($resource){
		return $resource('/utenti/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('Pratiche', ['$resource', function($resource){
		return $resource('/pratiche/pratiche/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('Strumenti', ['$resource', function($resource){
		return $resource('/pratiche/strumenti/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('StrumentiFree', ['$resource', function($resource){
		return $resource('/pratiche/strumenti/free/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('StrumentiCatena', ['$resource', function($resource){
		return $resource('/pratiche/strumenti/:id', null, {
			'get' : { method:'GET', url:'/pratiche/strumenti/catena/:id', isArray:true },
			'update': { method:'PUT' }
		});
	}])
	.factory('Catene', ['$resource', function($resource){
		return $resource('/pratiche/catene/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('PraticheProtoOUT', ['$resource', function($resource){
		return $resource('/pratiche/pratiche/protoout/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('PraticheCorreggere', ['$resource', function($resource){
		return $resource('/pratiche/pratiche/:id', null, {
			'query': { isArray: true, method:'GET', url:'/pratiche/pratiche/correggere' },
			'update': { method:'PUT' }
		});
	}])
	.factory('PraticheProtocollare', ['$resource', function($resource){
		return $resource('/pratiche/pratiche/:id', null, {
			'query': { isArray: true, method:'GET', url:'/pratiche/pratiche/protocollare' },
			'update': { method:'PUT' }
		});
	}])
	.factory('PraticheAll', ['$resource', function($resource){
		return $resource('/pratiche/pratiche/:id', null, {
			'query': { isArray: true, method:'GET', url:'/pratiche/pratiche/all' },
			'update': { method:'PUT' }
		});
	}])
	.factory('Integrazioni', ['$resource', function($resource){
		return $resource('/pratiche/integrazioni/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('Calibrazioni', ['$resource', function($resource){
		return $resource('/pratiche/strumenticalibrazioni/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('CalibrazioniCatena', ['$resource', function($resource){
		return $resource('/pratiche/strumenticalibrazioni/:id', null, {
			'get' : { method:'GET', url:'/pratiche/strumenticalibrazioni/catena/:id', isArray:true },
			'update': { method:'PUT' }
		});
	}])
	.factory('ConstStatiPratiche', ['$resource', function($resource){
		return $resource('/pratiche/statopratiche/stati', null);
	}])
	.factory('ConstTipiPratiche', ['$resource', function($resource){
		return $resource('/pratiche/statopratiche/tipi', null);
	}])
	.factory('StoricoStatoPratiche', ['$resource', function($resource){
		return $resource('/pratiche/statopratiche/:id', null, {
			'get' : { method:'GET', url:'/pratiche/statopratiche/history/:id', isArray:true },
			'update': { method:'PUT' }
		});
	}])
	.factory('IntegrazioniPratica', ['$resource', function($resource){
		return $resource('/pratiche/integrazioni/:id', null, {
			'get' : { method:'GET', url:'/pratiche/integrazioni/:id', isArray:true },
			'update': { method:'PUT' }
		});
	}])
	.factory('Me', ['$resource', function($resource){
		return $resource('/utenti/me', null);
	}])
	.factory('RegistroStrumenti', ['$resource', function($resource){
		return $resource('/pratiche/strumentiregistro/:id', null, {
			'update': { method:'PUT' }
		});
	}])
	.factory('RegistroStrumentiLatest', ['$resource', function($resource){
		return $resource('/pratiche/strumentiregistro/latest/:id', null, {
			'update': { method:'PUT' }
		});
	}])

	// helper controllers
	.controller('YesNoController', ['$scope', 'message', 'close', function($scope, message, close) {
		$scope.message = message;
		$scope.close = function(result) {
			close(result, 500); // close, but give 500ms for bootstrap to animate
		};
	}])
	.controller('ProtoOUTController', ['$scope', '$element', 'title', 'close',  function($scope, $element, title, close) {
		$scope.protoout = null;
		$scope.date = new Date();
		$scope.title = title;

		$scope.close = function() {
			close({ protoout: $scope.protoout, date: $scope.date, approved: true }, 500);
		};

		$scope.cancel = function() {
			$element.modal('hide');
		};
	}])

	.controller('GestoriController', ['$scope', 'Me', 'Gestori', '$location', function($scope, Me, Gestori, $location) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.anagrafiche = Gestori.query();

		$scope.new = function() {
			$location.url('gestori/new');
		}

		$scope.show = function(id) {
			$location.url('gestori/'+id);
		}
	}])
  	.controller('MainController', ['$scope', 'Me', '$location', function($scope, Me, $location) {
		$scope.me = Me.get(function() {
//			if ($scope.me.pareri == 1)				// se l'utente è esecutore
//				$location.path("/pratiche");		// ridirigi a pratiche da fare
//			else if ($scope.me.correzioni == 1)		// se è un correttore
//				$location.path("/pratiche-all");	// ridirigi a da correggere
		});
	}])
	.controller('GestoreDetailCtrl', ['$scope', '$routeParams', 'Me', 'Gestori', '$location', 'ModalService', function($scope, $routeParams, Me, Gestori, $location, ModalService) {
		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.egestore = $scope.isnew ? {} : Gestori.get({id: $routeParams.id });
		$scope.title = $scope.isnew ? "Nuovo Gestore" : "Gestore "+$routeParams.id;

		$scope.update = function( ){
			if ($scope.isnew) {
				if (!$scope.egestore || $scope.egestore.length < 1) return;
				if (!$scope.egestore.name || $scope.egestore.name.length < 1) { alert('Specificare nome!'); return; }
				if (!$scope.egestore.pec || $scope.egestore.pec.length < 1) { alert('Specificare PEC!'); return; }

				var gestore = new Gestori({ name: $scope.egestore.name, pec: $scope.egestore.pec });
				gestore.$save(function(){
					$location.url('gestori');
				});
			}
			else
				Gestori.update({id: $scope.egestore.id}, $scope.egestore, function() {
					$location.url('gestori');
				});
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Gestori.remove({id: $scope.egestore.id}, function() {
					$location.url('gestori');
				});
			}, "Sei sicuro di voler rimovere "+$scope.egestore.name+"?");
		}

		$scope.cancel = function() {
			$location.url('gestori');
		}
	}])
	.controller('ComuneController', ['$scope', 'Me', 'Comuni', '$location', function($scope, Me, Comuni, $location) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.anagrafiche = Comuni.query();

		$scope.new = function() {
			$location.url('comuni/new');
		}
		$scope.show = function(id) {
			$location.url('comuni/'+id);
		}
	}])
	.controller('ComuneDetailCtrl', ['$scope', '$routeParams', 'Me', 'Comuni', '$location', 'ModalService', function($scope, $routeParams, Me, Comuni, $location, ModalService) {
		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.ecomune = $scope.isnew ? {} : Comuni.get({id: $routeParams.id });
		$scope.title = $scope.isnew ? "Nuovo Comune" : "Comune "+$routeParams.id;

		$scope.update = function( ){
			if ($scope.isnew) {
				if (!$scope.ecomune || $scope.ecomune.length < 1) return;
				if (!$scope.ecomune.name || $scope.ecomune.name.length < 1) { alert('Specificare nome!'); return; }
				if (!$scope.ecomune.pec || $scope.ecomune.pec.length < 1) { alert('Specificare PEC!'); return; }

				var comune = new Comuni({ name: $scope.ecomune.name, pec: $scope.ecomune.pec });
				comune.$save(function(){
					$location.url('comuni');
				});
			}
			else
				Comuni.update({id: $scope.ecomune.id}, $scope.ecomune, function() {
					$location.url('comuni');
				});
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Comuni.remove({id: $scope.ecomune.id}, function() {
					$location.url('comuni');
				});
			}, "Sei sicuro di voler rimovere "+$scope.ecomune.name+"?");
		}

		$scope.cancel = function() {
			$location.url('comuni');
		}
	}])
	.controller('IntegrazioneCtrl', ['$scope', '$routeParams', 'Me', 'Integrazioni', '$window', function($scope, $routeParams, Me, Integrazioni, $window) {
		$scope.me = Me.get();

		$scope.eintegrazione = Integrazioni.get({id: $routeParams.id }, function(x) {
			x.dateIN = x.dateIN ? moment(x.dateIN.substring(0, 10)).format("YYYY-MM-DD") : null;
			x.dateOUT = x.dateOUT ? moment(x.dateOUT.substring(0, 10)).format("YYYY-MM-DD") : null;
		});
		$scope.title = "Integrazione "+$routeParams.id;

		$scope.update = function( ){
			Integrazioni.update({id: $scope.eintegrazione.id}, $scope.eintegrazione, function() {
				$window.history.back();
			});
		}

		$scope.cancel = function() {
			$window.history.back();
		}
	}])
	.controller('UtentiController', ['$scope', 'Me', 'Utenti', '$location', function($scope, Me, Utenti, $location) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.utenti = Utenti.query();

		$scope.new = function() {
			$location.url('utenti/new');
		}
		$scope.show = function(id) {
			if ($scope.me.userlevel == 0 || $scope.me.id == id)
				$location.url('utenti/'+id);
		}
	}])
	.controller('UtenteDetailCtrl', ['$scope', '$routeParams', 'Me', 'Utenti', '$location', 'ModalService', function($scope, $routeParams, Me, Utenti, $location, ModalService) {
		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.eutente = $scope.isnew ? {} : Utenti.get({id: $routeParams.id });
		$scope.title = $scope.isnew ? "Nuovo Utente" : "Utente "+$routeParams.id;

		$scope.update = function() {
			if ($scope.isnew) {
				if (!$scope.eutente || $scope.eutente.length < 1) return;
				if (!$scope.eutente.username || $scope.eutente.username.length < 1) { alert('Specificare username!'); return; }

				var utente = new Utenti({ username: $scope.eutente.username, name: $scope.eutente.name, surname: $scope.eutente.surname, email: $scope.eutente.email, phone: $scope.eutente.phone });
				utente.$save(function(){
					$location.url('utenti');
				});
			}
			else
				Utenti.update({id: $scope.eutente.id}, $scope.eutente, function() {
					$location.url('utenti');
				});
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Utenti.remove({id: $scope.eutente.id}, function() {
					$location.url('utenti');
				})
			}, "Sei sicuro di voler rimovere "+$scope.eutente.name+"?");
		}

		$scope.cancel = function() {
			$location.url('utenti');
		}

		$scope.changepw = function() {
			$location.url('utenti/pass/'+$scope.eutente.id);
		}
	}])
	.controller('UtentePassCtrl', ['$scope', '$http', '$routeParams', 'Me', 'Utenti', '$location', function($scope, $http, $routeParams, Me, Utenti, $location) {
		$scope.me = Me.get();
		$scope.eutente = Utenti.get({id: $routeParams.id });
		$scope.title = "Utente "+$routeParams.id;

		$scope.update = function(){
			if (!$scope.eutente.password1 || $scope.eutente.password1.length < 1) {
				alert("Devi specificare una password con almeno 2 maiuscole, 3 minuscole, 6 numeri, 4 animali, 2 colori e una tortiera.");
				return;
			}

			if ($scope.eutente.password1 != $scope.eutente.password2) {
				alert("Le password non corrispondono");
				return;
			}

			var data = $.param({
                oldpassword: $scope.eutente.oldpassword,
                password: $scope.eutente.password1
            });

			$http({ method: 'PUT', url: '/utenti/password/'+$routeParams.id,
				data: data,
				headers: {'Content-Type': 'application/x-www-form-urlencoded'}
			}).then(
				function(res) { $location.url('utenti'); },
				function(err) { alert("Error: "+err); }
			);
		}

		$scope.cancel = function() {
			$location.url('utenti');
		}
	}])
	.controller('PraticheController', ['$scope', 'Me', 'Pratiche', '$location', function($scope, Me, Pratiche, $location) {
		$scope.orderByField = 'dateIN';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.pratiche = Pratiche.query(function() {

			var today = moment();

			$scope.pratiche.forEach(function(x) {
				x.rowClass = getTableRowClass(x.idStato);

				if (x.stringStato == "Arrivata") x.stringUser = "";	// fix: pratiche arrivate non sono in carico di nessuno

				var arrivo = moment(x.dateIN);
				var diff = moment.duration(today.diff(arrivo)).asDays();
				var integDiff = (x.diff?x.diff/2:0);				// /2 = fix alla query che conta doppie le integrazioni!

				if (x.stringStato == "Attesa Integrazione") {
					x.scadenza = "";
					x.scadenzaData = "";
				}
				else {
					x.scadenza = ((30-diff + integDiff )|0);
					x.scadenzaData = arrivo.add(30 + integDiff, 'd').format('YYYY-MM-DD');

					if (x.scadenza < 0)
						x.scadenzaType = "time-danger";
					else if (x.scadenza < 7)
						x.scadenzaType = "time-red";
					else if (x.scadenza < 15)
						x.scadenzaType = "time-orange";
					else //if (x.scadenza < 30)
						x.scadenzaType = "time-green";
				}
			});
		});

		$scope.new = function() {
			$location.url('pratiche/detail/new');
		}
		$scope.show = function(id) {
			$location.url('pratiche/'+id);
		}
	}])
	.controller('PraticheAllController', ['$scope', 'Me', 'PraticheAll', '$location', function($scope, Me, PraticheAll, $location) {
		$scope.orderByField = 'dateIN';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.pratiche = PraticheAll.query(function() {
			$scope.pratiche.forEach(function(x) {
				x.rowClass = getTableRowClass(x.idStato);
				if (x.stringStato == "Arrivata") x.stringUser = "";	// fix: pratiche arrivate non sono in carico di nessuno
			});
		});
		$scope.show = function(id) {
			$location.url('pratiche/'+id);
		}

		$scope.startDate = new Date();
		$scope.endDate = new Date();
	}])
	.controller('PraticheCorreggereController', ['$scope', 'Me', 'PraticheCorreggere', '$location', function($scope, Me, PraticheCorreggere, $location) {
		$scope.orderByField = 'dateIN';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.pratiche = PraticheCorreggere.query(function() {
			$scope.pratiche.forEach(function(x) {
				x.rowClass = getTableRowClass(x.idStato);
			});
		});
		$scope.show = function(id) {
			$location.url('pratiche/'+id);
		}
	}])
	.controller('PraticheProtocollareController', ['$scope', 'Me', 'PraticheProtocollare', 'PraticheProtoOUT', '$route', "ModalService", function($scope, Me, PraticheProtocollare, PraticheProtoOUT, $route, ModalService) {
		$scope.orderByField = 'dateIN';
		$scope.reverseSort = false;
		$scope.me = Me.get();

		$scope.pratiche = PraticheProtocollare.query(function() {
			$scope.pratiche.forEach(function(x) {
				x.rowClass = getTableRowClass(x.idStato);
			});
		});
		$scope.show = function(id) {
			ModalService.showModal({
				templateUrl: "public/protoout.html",
				controller: "ProtoOUTController",
				inputs: {
					title: "ProtoOUT per pratica "+id
				}
			}).then(function(modal) {
				modal.element.modal();
				modal.close.then(function(result) {
					if (!result.approved)	// user switched to another /resource
						return;

					if (!result.protoout || result.protoout == "") {
						alert("Protocollo di uscita non valido!");
						return;
					}
					if (!result.date || result.date == "") {
						alert("Data di uscita non valida!");
						return;
					}

					var protoOUT = new PraticheProtoOUT({ id: id, protoOUT: result.protoout, dateOUT: result.date });

					PraticheProtoOUT.update({id: id}, protoOUT, function() {
						$route.reload();
					});
				});
			});
		}
	}])
	.controller('PraticaDetailController', ['$scope', '$routeParams', 'Pratiche', 'Me', 'Comuni', 'Gestori', 'ConstStatiPratiche', 'ConstTipiPratiche', '$location', 'ModalService', function($scope, $routeParams, Pratiche, Me, Comuni, Gestori, ConstStatiPratiche, ConstTipiPratiche, $location, ModalService) {

		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.epratica = $scope.isnew ? {} : Pratiche.get({id: $routeParams.id }, function(x) {
			x.dateIN = x.dateIN ? moment(x.dateIN.substring(0, 10)).format("YYYY-MM-DD") : null;
			x.dateOUT = x.dateOUT ? moment(x.dateOUT.substring(0, 10)).format("YYYY-MM-DD") : null;
		});

		$scope.comuni = Comuni.query();
		$scope.gestori = Gestori.query();

		$scope.title = $scope.isnew ? "Nuova Pratica" : "Pratica "+$routeParams.id;

		$scope.conststatipratiche = ConstStatiPratiche.query();
		$scope.consttipipratiche = ConstTipiPratiche.query();

		$scope.update = function( ){
			if ($scope.isnew) {
				if (!$scope.epratica) return;
				if (!$scope.epratica.idGestore) { alert('Specificare il gestore!'); return; }
				if (!$scope.epratica.idComune) { alert('Specificare il Comune!'); return; }
				if (!$scope.epratica.tipopratica) { alert('Specificare il tipo di pratica!'); return; }

				var pratica = new Pratiche({ idGestore: $scope.epratica.idGestore, idComune: $scope.epratica.idComune, address: $scope.epratica.address, sitecode: $scope.epratica.sitecode, tipopratica: $scope.epratica.tipopratica, protoIN: $scope.epratica.protoIN, dateIN: $scope.epratica.dateIN,
					protoOUT: $scope.epratica.protoOUT, dateOUT: $scope.epratica.dateOUT, note: $scope.epratica.note });

				pratica.$save(function(){
					$location.url('pratiche');
				});
			}
			else {
				Pratiche.update({id: $scope.epratica.id}, $scope.epratica, function() {
					$location.url('pratiche');
				});
			}
		}

		$scope.cancel = function() {
			$location.url('pratiche');
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Pratiche.remove({id: $scope.epratica.id}, function() {
					$location.url('pratiche');
				});
			}, "Sei sicuro di voler rimovere la pratica?");
		}
	}])
	.controller('PraticaStatoDetailController', ['$window', '$scope', '$routeParams', 'Pratiche', 'Me', 'Utenti', 'StoricoStatoPratiche', '$location', 'ModalService', function($window, $scope, $routeParams, Pratiche, Me, Utenti, StoricoStatoPratiche, $location, ModalService) {
		$scope.me = Me.get(function(x) {
			$scope.selectedUser = $scope.me.id
		});

		$scope.utenti = Utenti.query();
		$scope.orderByField = "timePoint";
		$scope.reverseSort = true;

		$scope.epratica = Pratiche.get({id: $routeParams.id }, function(x) {
			if (x.dateIN) x.dateIN = x.dateIN.substring(0, 10);
			if (x.dateOUT) x.dateOUT = x.dateOUT.substring(0, 10);

			$scope.title = x.stringGestore + '-' +x.sitecode + ' / ' + x.stringComune + ' - ' + x.address;
		});

		$scope.history = StoricoStatoPratiche.get({id: $routeParams.id}, function() {
			for (var i=0; i<$scope.history.length; i++) {
				if ($scope.history[i].idStato ==  2) {
					if ($scope.history[i].usernameAss)
						$scope.history[i].descStato +=  " ("+$scope.history[i].usernameAss+")";
					else	// arrivata integrazione
						$scope.history[i].descStato +=  " - " + $scope.history[i].protoIN + " - "+ $scope.history[i].dateIN;
				}
				else if ($scope.history[i].idStato ==  7) {
					$scope.history[i].descStato +=  " - " + $scope.history[i].protoOUT + " - "+ $scope.history[i].dateOUT;
				}

				$scope.history[i].timePoint += " - "+$scope.history[i].usernameMod;
			}
		});

		$scope.showinteg = function(idInteg) {
			if (idInteg)
				$location.url('integrazione/'+idInteg);
		}

		$scope.cancel = function() {
			$window.history.back();
		}

		$scope.show = function() {
			$location.url('pratiche/detail/'+$scope.epratica.id);
		}

		$scope.integDate = moment(new Date()).format("YYYY-MM-DD");
		$scope.integProto = '';

		$scope.integric = function() {
			var newstate = new StoricoStatoPratiche({ idPratica: $scope.epratica.id, idStato: 7, integProto: $scope.integProto, integData: $scope.integDate, integNote: '' });

			newstate.$save(function(){
				$window.history.back();
			});
		}

		$scope.integarr = function() {

			var newstate = new StoricoStatoPratiche({ idPratica: $scope.epratica.id, idStato: 2, integProto: $scope.integProto, integData: $scope.integDate, integNote: '' });

			newstate.$save(function(){
				$window.history.back();
			});
		}

		$scope.stato = function(state, user) {
			if (state == 1) {
				askconfirm(ModalService, function() {
					var newstate = new StoricoStatoPratiche({ idPratica: $scope.epratica.id, idUtente: user, idStato: state });

					newstate.$save(function(){
						$window.history.back();
					});
				}, "Sei sicuro di voler rilasciare la pratica?");
			}
			else {
				var newstate = new StoricoStatoPratiche({ idPratica: $scope.epratica.id, idUtente: user, idStato: state });

				newstate.$save(function(){
					$window.history.back();
				});
			}
		}
	}])
	.controller('StrumentiController', ['$scope', 'Me', 'Strumenti', '$location', function($scope, Me, Strumenti, $location) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.strumenti = Strumenti.query();

		$scope.new = function() {
			$location.url('strumenti/new');
		}
		$scope.show = function(id) {
			$location.url('strumenti/'+id);
		}
	}])

	.controller('StrumentoDetailCtrl', ['$scope', '$routeParams', 'Me', 'Strumenti', '$location', 'ModalService', function($scope, $routeParams, Me, Strumenti, $location, ModalService) {
		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.estrumento = $scope.isnew ? {} : Strumenti.get({id: $routeParams.id });
		$scope.title = $scope.isnew ? "Nuovo Strumento" : "Strumento "+$routeParams.id;

		$scope.update = function() {
			if ($scope.isnew) {
				if (!$scope.estrumento || $scope.estrumento.length < 1) return;

				var strumento = new Strumenti({ name: $scope.estrumento.name, marca: $scope.estrumento.marca, modello: $scope.estrumento.modello, serial: $scope.estrumento.serial, inventario: $scope.estrumento.inventario, tipo: $scope.estrumento.tipo, taratura: $scope.estrumento.taratura, note: $scope.estrumento.note });
				strumento.$save(function(){
					$location.url('strumenti-strumenti');
				});
			}
			else
				Strumenti.update({id: $scope.estrumento.id}, $scope.estrumento, function() {
					$location.url('strumenti-strumenti');
				});
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Strumenti.remove({id: $scope.estrumento.id}, function() {
					$location.url('strumenti-strumenti');
				})
			}, "Sei sicuro di voler rimovere "+$scope.estrumento.serial+"?");
		}

		$scope.cancel = function() {
			$location.url('strumenti-strumenti');
		}
	}])

	.controller('CateneController', ['$scope', 'Me', 'Catene', '$location', function($scope, Me, Catene, $location) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.catene = Catene.query(function() {
			var today = moment();

			$scope.catene.forEach(function(x) {
				if (!x.scadenza) {
					x.scadenzaType = "time-danger";
					return;
				}

				var diff = (moment.duration(moment(x.scadenza).diff(today)).asDays())|0;

				if (diff < 0)
					x.scadenzaType = "time-danger";
				else if (diff < 7)
					x.scadenzaType = "time-red";
				else if (diff < 30)
					x.scadenzaType = "time-orange";
				else
					x.scadenzaType = "time-green";
			});
		});

		$scope.new = function() {
			$location.url('catene/new');
		}
		$scope.show = function(id) {
			$location.url('catene/'+id);
		}
	}])
	.controller('CatenaDetailCtrl', ['$scope', '$routeParams', 'Me', 'Catene', 'StrumentiCatena', 'StrumentiFree', 'CalibrazioniCatena', '$location', '$route', 'ModalService', function($scope, $routeParams, Me, Catene, StrumentiCatena, StrumentiFree, CalibrazioniCatena, $location, $route, ModalService) {
		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.ecatena = $scope.isnew ? {} : Catene.get({ id: $routeParams.id });
		$scope.title = $scope.isnew ? "Nuova Catena" : "Catena "+$routeParams.id;
		$scope.strumenticatena = StrumentiCatena.get({ id: $routeParams.id });
		$scope.strumenti = StrumentiFree.query();
		$scope.calibrazioni = CalibrazioniCatena.get({ id: $routeParams.id });

		$scope.addstrum = false;
		$scope.orderByField1 = "id";
		$scope.reverseSort1 = false;
		$scope.orderByField2 = "id";
		$scope.reverseSort2 = false;
		$scope.orderByField3 = "id";
		$scope.reverseSort3 = false;

		$scope.update = function() {
			if ($scope.isnew) {
				if (!$scope.ecatena || $scope.ecatena.length < 1) return;

				var catena = new Catene({ name: $scope.ecatena.name, note: $scope.ecatena.note });
				catena.$save(function(){
					$location.url('strumenti-catene');
				});
			}
			else
				Catene.update({id: $scope.ecatena.id}, $scope.ecatena, function() {
					$location.url('strumenti-catene');
				});
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Catene.remove({id: $scope.ecatena.id}, function() {
					$location.url('strumenti-catene');
				})
			}, "Sei sicuro di voler rimovere "+$scope.ecatena.name+"?");
		}

		$scope.cancel = function() {
			$location.url('strumenti-catene');
		}

		$scope.add = function(id) {
			if ($scope.isnew) { alert("Prima crea la catena, poi aggiungi/rimuovi gli strumenti"); return; }

			StrumentiFree.update({id: $scope.ecatena.id}, new StrumentiFree({verb: "add", idStrumento: id}), function() {
				$route.reload();
			});
		}

		$scope.remove = function(id) {
			if ($scope.isnew) { alert("Prima crea la catena, poi aggiungi/rimuovi gli strumenti"); return; }

			StrumentiFree.update({id: $scope.ecatena.id}, new StrumentiFree({verb: "remove", idStrumento: id}), function() {
				$route.reload();
			});
		}

		$scope.addcalib = function() {
			$location.url('calibrazione/new');
		}

		$scope.showcalib = function(id) {
			$location.url('calibrazione/'+id);
		}
	}])
	.controller('CalibrazioneDetailCtrl', ['$scope', '$routeParams', 'Me', 'Catene', 'Calibrazioni', '$window', 'ModalService', function($scope, $routeParams, Me, Catene, Calibrazioni, $window, ModalService) {
		$scope.me = Me.get();
		$scope.isnew = ($routeParams.id === "new");
		$scope.ecalibrazione = $scope.isnew ? {} : Calibrazioni.get({id: $routeParams.id });
		$scope.title = $scope.isnew ? "Nuova Calibrazione" : "Calibrazione "+$routeParams.id;
		$scope.catene = Catene.query();

		$scope.update = function() {
			if ($scope.isnew) {
				if (!$scope.ecalibrazione || $scope.ecalibrazione.length < 1) return;

				var calibrazione = new Calibrazioni({ idCatena: $scope.ecalibrazione.idCatena, lab: $scope.ecalibrazione.lab, certn: $scope.ecalibrazione.certn, dateCal: $scope.ecalibrazione.dateCal, note: $scope.ecalibrazione.note, scadenza: $scope.ecalibrazione.scadenza });
				calibrazione.$save(function(){
					$window.history.back();
				});
			}
			else
				Calibrazioni.update({id: $scope.ecalibrazione.id}, $scope.ecalibrazione, function() {
					$window.history.back();
				});
		}

		$scope.remove = function() {
			askconfirm(ModalService, function() {
				Calibrazioni.remove({id: $scope.ecalibrazione.id}, function() {
					$window.history.back();
				})
			}, "Sei sicuro di voler rimovere questa calibrazione?");
		}

		$scope.cancel = function() {
			$window.history.back();
		}
	}])
	.controller('StrumentiStoricoCtrl', ['$scope', 'Me', 'RegistroStrumenti', '$location', function($scope, Me, RegistroStrumenti, $location) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.registro = RegistroStrumenti.query();

		$scope.show = function(id) {
			$location.url('catene/'+id);
		}
	}])
	.controller('StrumentiRegistroCtrl', ['$scope', 'Me', 'RegistroStrumentiLatest', 'Sedi', '$location', '$route', function($scope, Me, RegistroStrumentiLatest, Sedi, $location, $route) {
		$scope.orderByField = 'id';
		$scope.reverseSort = false;
		$scope.me = Me.get();
		$scope.sedi = Sedi.query();
		$scope.registro = RegistroStrumentiLatest.query(function(data) {

			$scope.registro.forEach(function(x) {
				var dateFrom = moment(x.timePointFrom);
				var dateTo = moment(x.timePointTo);

				if (!dateFrom.isValid()) x.timePointFrom = "";
				if (!dateTo.isValid()) x.timePointTo = "";

				if (!dateTo.isValid() && !dateFrom.isValid()) {			// never taken
					x.isopen = false;
					x.sede = "Mai Preso!";
				}
				else if (!dateTo.isValid() && dateFrom.isValid()) {		// open
					x.isopen = true;
				}
				else if (dateTo.isValid() && dateFrom.isValid()) {		// closed
					x.isopen = false;
				}

				x.catena = x.name;
			});
		});

		$scope.open = function(id) {
			var entry = new RegistroStrumentiLatest({ verb: 'open', idUtente:$scope.me.id, timePointFrom: moment().format() });

			RegistroStrumentiLatest.update({id: id}, entry, function(){
				$route.reload();
			});
		}

		$scope.close = function(id, idSede) {
			if (!idSede || idSede == 0) {
				alert("Specificare sede!");
				return;
			}

			var entry = new RegistroStrumentiLatest({ verb: 'close', idUtente:$scope.me.id, timePointTo: moment().format(), idSedeTo:idSede });

			RegistroStrumentiLatest.update({id: id}, entry, function(){
				$route.reload();
			});
		}
	}])

	.config(['$routeProvider', function($routeProvider) {
		$routeProvider
			.when('/', {
				templateUrl: '/main.html',
				controller: 'MainController'
			})
			.when('/gestori', {
				templateUrl: '/anagrafiche.html',
				controller: 'GestoriController'
			})
			.when('/gestori/:id', {
				templateUrl: '/gestoreDetails.html',
				controller: 'GestoreDetailCtrl'
			})
			.when('/comuni', {
				templateUrl: '/anagrafiche.html',
				controller: 'ComuneController'
			})
			.when('/comuni/:id', {
				templateUrl: '/comuneDetails.html',
				controller: 'ComuneDetailCtrl'
			})

			.when('/pratiche', {
				templateUrl: '/pratiche.html',
				controller: 'PraticheController'
			})
			.when('/pratiche-correggere', {
				templateUrl: '/pratiche.html',
				controller: 'PraticheCorreggereController'
			})
			.when('/pratiche-protocollare', {
				templateUrl: '/pratiche-storico.html',
				controller: 'PraticheProtocollareController'
			})
			.when('/pratiche-all', {
				templateUrl: '/pratiche-storico.html',
				controller: 'PraticheAllController'
			})

			.when('/pratiche/detail/:id', {
				templateUrl: '/praticaDetails.html',
				controller: 'PraticaDetailController'
			})
			.when('/pratiche/:id', {
				templateUrl: '/praticaStatoDetails.html',
				controller: 'PraticaStatoDetailController'
			})
			.when('/integrazione/:id', {
				templateUrl: '/integrazione.html',
				controller: 'IntegrazioneCtrl'
			})

			.when('/utenti', {
				templateUrl: '/utenti.html',
				controller: 'UtentiController'
			})
			.when('/utenti/:id', {
				templateUrl: '/utenteDetails.html',
				controller: 'UtenteDetailCtrl'
			})
			.when('/utenti/pass/:id', {
				templateUrl: '/utentePass.html',
				controller: 'UtentePassCtrl'
			})

			.when('/strumenti-strumenti', {
				templateUrl: '/strumenti.html',
				controller: 'StrumentiController'
			})
			.when('/strumenti/:id', {
				templateUrl: '/strumentoDetails.html',
				controller: 'StrumentoDetailCtrl'
			})

			.when('/strumenti-catene', {
				templateUrl: '/catene.html',
				controller: 'CateneController'
			})
			.when('/catene/:id', {
				templateUrl: '/catenaDetails.html',
				controller: 'CatenaDetailCtrl'
			})
			.when('/calibrazione/:id', {
				templateUrl: '/calibrazioneDetails.html',
				controller: 'CalibrazioneDetailCtrl'
			})
			.when('/strumenti-storico', {
				templateUrl: '/strumentiStorico.html',
				controller: 'StrumentiStoricoCtrl'
			})
			.when('/strumenti-registro', {
				templateUrl: '/strumentiRegistro.html',
				controller: 'StrumentiRegistroCtrl'
			})
			;
	}])
	.config([
		'datetimepickerProvider',
		function (datetimepickerProvider) {
			datetimepickerProvider.setOptions({
				format: 'YYYY-MM-DD'
			});
		}
	])
	;

</script>

<!-- Update navbar active
<script>
	$(".nav a").on("click", function(){
		$(".nav").find(".active").removeClass("active");
		$(this).parent().addClass("active");
	});
</script> -->

<footer class="container-fluid bg-4 text-center">
	<p>jsPratiche v1.2.1-build161020 - <a href="#">Miro Salvagni</a></p>
</footer>

</body>
</html>