<div class="form-group">
		<div class="span7 text-center">
			<button class="btn btn-primary" ng-click="new()">Nuova Pratica</button>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>  -->
				<th class="text-center"><a ng-click="orderByField='stringGestore'; reverseSort=!reverseSort">Gestore <span ng-show="orderByField=='stringGestore'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringComune'; reverseSort=!reverseSort">Comune <span ng-show="orderByField=='stringComune'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th><a ng-click="orderByField='address'; reverseSort=!reverseSort">Indirizzo <span ng-show="orderByField=='address'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='sitecode'; reverseSort=!reverseSort">CodiceSito <span ng-show="orderByField=='sitecode'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringTipo'; reverseSort=!reverseSort">TipoPratica <span ng-show="orderByField=='stringTipo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='protoIN'; reverseSort=!reverseSort">ProtoIN <span ng-show="orderByField=='protoIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='dateIN'; reverseSort=!reverseSort">DateIN <span ng-show="orderByField=='dateIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringStato'; reverseSort=!reverseSort">Stato <span ng-show="orderByField=='stringStato'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='stringUser'; reverseSort=!reverseSort">Utente <span ng-show="orderByField=='stringUser'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='scadenza'; reverseSort=!reverseSort">Scadenza <span ng-show="orderByField=='scadenza'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='scadenzaData'; reverseSort=!reverseSort">Scadenza Data<span ng-show="orderByField=='scadenzaData'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in pratiche|orderBy:orderByField:reverseSort" ng-dblclick="show(x.id)" class="{{x.rowClass}}">
<!--				<td class="text-center">{{x.id}}</td> -->
				<td class="text-center">{{x.stringGestore}}</td>
				<td class="text-center">{{x.stringComune}}</td>
				<td>{{x.address}}</td>
				<td class="text-center">{{x.sitecode}}</td>
				<td class="text-center">{{x.stringTipo}}</td>
				<td class="text-center">{{x.protoIN}}</td>
				<td class="text-center">{{x.dateIN}}</td>

				<td class="text-center">{{x.stringStato}}</td>
				<td class="text-center">{{x.stringUser}}</td>
				<td class="text-center {{x.scadenzaType}}">{{x.scadenza}}</td>
				<td class="text-center {{x.scadenzaType}}">{{x.scadenzaData}}</td>
			</tr>
		</tbody>
	</table>