<div class="container">
	<div class="row">
		<span class="col-md-10">
			<h2>{{ title }}</h2>
		</span>
		<button class="col-md-2 btn btn-danger" ng-click="stato(1)" ng-show="epratica.idStato && epratica.idStato != 1"
		style="top: 20px;" >Rilascia</button>
	</div>
	<hr>
	<div class="row">

		<span class="col-md-3">
			<div ng-show="epratica.idStato == null || epratica.idStato == 1">
				<select class="col-md-6" data-ng-options="g.id as g.name for g in utenti" data-ng-model="selectedUser" style="top: 8px;"></select>
				<button class="col-md-6 btn btn-primary" ng-click="stato(2, selectedUser)">Dai in carico</button>
			</div>
			<div ng-show="epratica.idStato == 4">
				<select class="col-md-6" data-ng-options="g.id as g.name for g in utenti" data-ng-model="selectedUser" style="top: 8px;"></select>
				<button class="btn btn-primary" ng-click="stato(6, selectedUser)">Corretto</button>
			</div>
			<div class="div-border-invisible" ng-show="epratica.idStato == 2">
				<button class="btn btn-primary" ng-click="stato(3)">Mancano misure</button>
			</div>
		</span>

		<span class="col-md-3"  ng-show="epratica.idStato == 2 || epratica.idStato == 3 || epratica.idStato == 7 || epratica.idStato == 13">
			<input class="col-md-12" type="text" ng-model="integProto" placeholder="Protocollo" style="top: 4px;">
			<input class="col-md-12" type="text" datetimepicker ng-model="integDate" placeholder="Data" style="top: 4px;">
		</span>
		<span class="col-md-3"  ng-show="epratica.idStato == 2 || epratica.idStato == 3 || epratica.idStato == 7 || epratica.idStato == 13">
			<button class="col-md-12 btn btn-warning" ng-click="stato(7, null, integProto, integDate)" ng-show="epratica.idStato == 2 || epratica.idStato == 3">Richiedi integ</button>			
			<button class="col-md-12 btn btn-danger" ng-click="stato(13, null, integProto, integDate)" ng-show="epratica.idStato == 2 || epratica.idStato == 3">Com. motivi ostativi</button>			
			<button class="col-md-12 btn btn-warning" ng-click="stato(2, null, integProto, integDate)" ng-show="epratica.idStato == 7 || epratica.idStato == 13">Arrivate integ</button>
		</span>

		<span class="col-md-1"><div class="spacer"></div></span>
		<button class="col-md-2 btn btn-success" ng-click="stato(4)" style="top: 12px;" ng-show="epratica.idStato == 2 || epratica.idStato == 3">Fatto</button>
	</div>

	<hr>
	<table class="table table-hover">
		<thead>
			<tr>
<!--						<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
				<th class="text-center"><a ng-click="orderByField='descStato'; reverseSort=!reverseSort">Stato <span ng-show="orderByField=='descStato'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField='timePoint'; reverseSort=!reverseSort">Modifica <span ng-show="orderByField=='timePoint'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in history|orderBy:orderByField:reverseSort" ng-dblclick="showinteg(x.integID)">
<!--						<td class="text-center">{{x.id}}</td>  -->
				<td class="text-center">{{x.descStato}}</td>
				<td class="text-center">{{x.timePoint}}</td>
			</tr>
		</tbody>
	</table>

	<hr>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center"><a ng-click="orderByField2='idSite'; reverseSort2=!reverseSort2">ID Sito <span ng-show="orderByField2=='idSite'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField2='flagA24'; reverseSort2=!reverseSort2">Alpha24 <span ng-show="orderByField2=='flagA24'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField2='flag87bis'; reverseSort2=!reverseSort2">87bis <span ng-show="orderByField2=='flag87bis'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField2='flagSupTerra'; reverseSort2=!reverseSort2">Sup. Terra <span ng-show="orderByField2=='flagSupTerra'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
				<th class="text-center"><a ng-click="orderByField2='idriconf'; reverseSort2=!reverseSort2">ID Riconf. <span ng-show="orderByField2=='idriconf'"><span ng-show="!reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort2"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>

				<th class="text-center">Azioni </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in info|orderBy:orderByField:reverseSort2">
				<td class="text-center"><input type="text" class="form-control" id="idsite" ng-model="x.idsite" placeholder="ID Sito" ng-change="setupdated(x)"></td>
				<td class="text-center"><input class="form-control" type="checkbox" ng-model="x.flagA24" ng-true-value="1" ng-false-value="0" ng-change="setupdated(x)"></td>
				<td class="text-center"><input class="form-control" type="checkbox" ng-model="x.flag87bis" ng-true-value="1" ng-false-value="0" ng-change="setupdated(x)"></td>
				<td class="text-center"><input class="form-control" type="checkbox" ng-model="x.flagSupTerra" ng-true-value="1" ng-false-value="0" ng-change="setupdated(x)"></td>
				<td class="text-center"><input type="text" class="form-control" id="idriconf" ng-model="x.idriconf" placeholder="ID Riconf" ng-change="setupdated(x)"></td>
				<td class="text-center">
					<button class="btn btn-success" ng-click="sitesave(x)" style="top: 12px;" ng-show="!x.isupdated">Save</button>
					<button class="btn btn-danger" ng-click="sitedelete(x)" style="top: 12px;" ng-show="!x.isnew">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="text-center">
		<button class="btn btn-success" ng-click="newsiteinfo()">Nuovo Sito</button>
	</div>

	<hr>
	<div>
		<button class="btn btn-default" ng-click="cancel()">Indietro</button>
		<div class="pull-right">
			<button class="btn btn-default" ng-click="show()">Modifica</button>
		</div>
	</div>
</div>