<div class="row">
	<div class="form-group">
		<label class="control-label col-sm-2" for="dateFrom">Da:</label>
		<div class="col-sm-10">
			<input class="form-control" datetimepicker type="text" ng-model="dateFrom" placeholder="YYYY-MM-DD" ng-change="requery(dateFrom, dateTo, dateType)">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="dateTo">A:</label>
		<div class="col-sm-10">
			<input class="form-control" datetimepicker type="text" ng-model="dateTo" placeholder="YYYY-MM-DD" ng-change="requery(dateFrom, dateTo, dateType)">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="dateType">Ricerca data:</label>
		<div class="col-sm-10">
			<select ng-model="dateType" ng-options="x for x in dateTypes" ng-change="requery(dateFrom, dateTo, dateType)"></select>
		</div>
	</div>	
	<div class="form-group">
		<label class="control-label col-sm-2" for="selectTipopratica">Tipo Pratica:</label>
		<div class="col-sm-10">
			<select data-ng-options="g.id as g.descrizione for g in consttipopratiche" data-ng-model="selectTipopratica" ng-change="requery(dateFrom, dateTo, dateType)"></select>
		</div>
	</div>	
</div>

<table class="table table-hover">
	<thead>
		<tr>
<!--				<th class="text-center"><a ng-click="orderByField='id'; reverseSort=!reverseSort">ID <span ng-show="orderByField=='id'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th> -->
			<th class="text-center"><a ng-click="orderByField='stringGestore'; reverseSort=!reverseSort">Gestore <span ng-show="orderByField=='stringGestore'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='stringComune'; reverseSort=!reverseSort">Comune <span ng-show="orderByField=='stringComune'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th><a ng-click="orderByField='address'; reverseSort=!reverseSort">Indirizzo <span ng-show="orderByField=='address'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='sitecode'; reverseSort=!reverseSort">CodiceSito <span ng-show="orderByField=='sitecode'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='stringTipo'; reverseSort=!reverseSort">TipoPratica <span ng-show="orderByField=='stringTipo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='stringStato'; reverseSort=!reverseSort">Stato <span ng-show="orderByField=='stringStato'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>			
			<th class="text-center"><a ng-click="orderByField='stringUser'; reverseSort=!reverseSort">Utente <span ng-show="orderByField=='stringUser'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='protoIN'; reverseSort=!reverseSort">ProtoIN <span ng-show="orderByField=='protoIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='dateIN'; reverseSort=!reverseSort">DateIN <span ng-show="orderByField=='dateIN'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='protoOUT'; reverseSort=!reverseSort">ProtoOUT <span ng-show="orderByField=='protoOUT'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='dateOUT'; reverseSort=!reverseSort">dateOUT <span ng-show="orderByField=='dateOUT'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='days'; reverseSort=!reverseSort">Giorni Emissione <span ng-show="orderByField=='days'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in pratiche|orderBy:orderByField:reverseSort" ng-dblclick="show(x.id)"class="{{x.rowClass}}" >
<!--				<td class="text-center">{{x.id}}</td> -->
			<td class="text-center">{{x.stringGestore}}</td>
			<td class="text-center">{{x.stringComune}}</td>
			<td>{{x.address}}</td>
			<td class="text-center">{{x.sitecode}}</td>
			<td class="text-center">{{x.stringTipo}}</td>
			
			<td class="text-center">{{x.stringStato}}</td>
			<td class="text-center">{{x.stringUser}}</td>
			
			<td class="text-center">{{x.protoIN}}</td>
			<td class="text-center">{{x.dateIN}}</td>
			<td class="text-center">{{x.protoOUT}}</td>
			<td class="text-center">{{x.dateOUT}}</td>
			
			<td class="text-center">{{x.days}}</td>
		</tr>
	</tbody>
</table>