<div class="row">
	<div class="form-group">
		<label class="control-label col-sm-2" for="dateFrom">Da:</label>
		<div class="col-sm-10">
			<input class="form-control" datetimepicker type="text" ng-model="dateFrom" placeholder="YYYY-MM-DD" ng-change="requery(dateFrom, dateTo)">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="dateTo">A:</label>
		<div class="col-sm-10">
			<input class="form-control" datetimepicker type="text" ng-model="dateTo" placeholder="YYYY-MM-DD" ng-change="requery(dateFrom, dateTo)">
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-center"><a ng-click="orderByField='seq'; reverseSort=!reverseSort"># <span ng-show="orderByField=='seq'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='stringGestore'; reverseSort=!reverseSort">Nominativo/Regione sociale <span ng-show="orderByField=='stringGestore'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='FatturareA'; reverseSort=!reverseSort">Fatturare a <span ng-show="orderByField=='FatturareA'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='Punto2Tariffario'; reverseSort=!reverseSort">Punto 2 del tariffario nazionale <span ng-show="orderByField=='Punto2Tariffario'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='SingoloCongiunto'; reverseSort=!reverseSort">Singolo/Congiunto <span ng-show="orderByField=='SingoloCongiunto'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='Punto3Tariffario'; reverseSort=!reverseSort">Punto 3 del tariffario nazionale: misure <span ng-show="orderByField=='Punto3Tariffario'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='Importo'; reverseSort=!reverseSort">Importo <span ng-show="orderByField=='Importo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='Provincia'; reverseSort=!reverseSort">Provincia <span ng-show="orderByField=='Provincia'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='Comune'; reverseSort=!reverseSort">Comune <span ng-show="orderByField=='Comune'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th><a ng-click="orderByField='Indirizzo'; reverseSort=!reverseSort">Indirizzo <span ng-show="orderByField=='Indirizzo'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='proto'; reverseSort=!reverseSort">Prot <span ng-show="orderByField=='proto'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='riferimento'; reverseSort=!reverseSort">Riferimento <span ng-show="orderByField=='riferimento'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='data'; reverseSort=!reverseSort">Data <span ng-show="orderByField=='data'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='sitecode'; reverseSort=!reverseSort">CodiceSito <span ng-show="orderByField=='sitecode'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>
			<th class="text-center"><a ng-click="orderByField='operatore'; reverseSort=!reverseSort">Operatore <span ng-show="orderByField=='operatore'"><span ng-show="!reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-up"></span></span><span ng-show="reverseSort"><span class="glyphicon glyphicon glyphicon-chevron-down"></span></span></span></a></th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in pratiche|orderBy:orderByField:reverseSort" ng-dblclick="show(x.id)"class="{{x.rowClass}}" >
			<td class="text-center">{{x.seq}}</td>
			<td class="text-center">{{x.GESTORE}}</td>
			<td class="text-center">{{x.FatturareA}}</td>
			
			<td class="text-center">{{x.Punto2Tariffario}}</td>
			<td class="text-center">{{x.SingoloCongiunto}}</td>
			<td class="text-center">{{x.Punto3Tariffario}}</td>
			<td class="text-center">{{x.Importo}}</td>
			
			<td class="text-center">{{x.Provincia}}</td>
			<td class="text-center">{{x.Comune}}</td>
			<td>{{x.Indirizzo}}</td>
			
			<td class="text-center">{{x.proto}}</td>
			<td class="text-center">{{x.riferimento}}</td>
			<td class="text-center">{{x.data}}</td>
			<td class="text-center">{{x.sitecode}}</td>
			<td class="text-center">{{x.operatore}}</td>
		</tr>
	</tbody>
</table>